@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Outfit", sans-serif;
}
body {
  background-color: #f5f5f5;
}
a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
  line-height: 1;
}
.nav-container {
  padding-right: 10%;
  padding-left: 10%;
}
.contact-btn,
.explore-btn,
.white-arrow-btn {
  background-color: #fff;
  padding: 14px 25px;
  cursor: pointer;
  font-size: 16px;
  border-radius: 30px;
  color: #333;
  outline: 0;
  border: 0;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.explore-btn img {
  width: 20px;
  margin-left: 10px;
}
.white-arrow-btn,
.dark-btn {
  background: #212ea0;
  color: #fff;
}
.white-arrow-btn img {
  width: 20px;
  margin-left: 10px;
}
/* media query */
@media (max-width: 1200px) {
  .nav-container {
    padding-right: 5%;
    padding-left: 5%;
  }
  .contact-btn,
  .explore-btn,
  .white-arrow-btn {
    padding: 14px 22px;
  }
}
